button {
    background-color: var(--color-border);
    border: none;
    color: var(--color-text);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
    white-space: nowrap;
}

button>* {
    margin: auto 2px;
}

button:hover {
    background-color: var(--color-border-hover);
}

button.sm {
    padding: 4px 8px;
    font-size: 14px;
}

input {
    background-color: var(--color-background-soft);
    border: none;
    color: var(--color-text);
    padding: 8px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input.sm {
    padding: 4px 8px;
    font-size: 14px;
}

label {
    color: var(--color-text);
    font-size: 16px;
    margin: 2px;
    margin-right: 4px;
}

select {
    background-color: var(--color-background-soft);
    border: none;
    color: var(--color-text);
    padding: 8px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

select.sm {
    padding: 4px 8px;
    font-size: 14px;
}

a.link,
a.link:visited {
    color: var(--color-text);
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
}

a.link:hover {
    color: var(--color-text-accent);
}